body {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

p, ul, h1, h2, h3, h4, h5, h6, a, table {
    font-family: Tahoma, sans-serif;
}

p, ul, a {
    font-size: 14px;
    margin: 0px;
}

ul {
    padding-left: 25px;
}

li {
    padding: 5px 0px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

h2 {
    font-size:24px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
}

h3 {
    font-size:18px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

#left_column {
    position: fixed;
    overflow: scroll;
    width: 200px;
    height: 100%;
    background-color: lightgray;
    padding: 20px;
}

#left_column ul li {
    list-style-type: none;

}

table {
    border-collapse: collapse;
}

table th {
    background-color: lightgray;
    text-align: left;
}

table th, table td {
    width: 500px;
    max-width: 100%;
    padding: 10px;
    border: 1px solid grey;
}

.preview_and_code_blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.preview_and_code_blocks div {
    width: 45%;
    border: 1px solid grey;
    padding: 10px;
}

#right_column {
    margin-left: 240px;
    padding: 20px;
}

#right_column article {
    margin-top: 100px;
}
